*{
  margin: 0%;
  padding: 0;
  font-family: roboto;
}
body{
  background-color: #DAD0CB;
}
#navbar{
  background-color: #AE8A7A;
  color:#ffffff
}
.btnCV{
  color:#ffffff;
  text-decoration: none;
  padding: 28px;
}
.btnCV:hover{
  padding: 28px;
  background-color: #bdaba3;
  color:#020202;
  text-decoration: none;
}
/* Tamaño tablet (768-480)*/
@media all and (min-width: 480px) and (max-width: 768px) {
  
}

/* Tamaño tablet horizontal (1024-768)*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Tamaño por defecto pantallas (1280-1024)*/
@media all and (min-width: 1024px) and (max-width: 5024px) {
  
}