*{
  margin: 0%;
  padding: 0;
  font-family: roboto;
}
body{
  background-color: #8656a244;
}
#navbar{
  background-color: #513d77;
  color:#ffffff
}
/* .btnCV{
  color:#ffffff;
  text-decoration: none;
  margin-top: 5px;
}
.btnCV:hover{
  padding: 28px;
  background-color: #bdaba3;
  color:#020202;
  text-decoration: none;
} */
.titleName{
  font-size: 3em;
  color: black;
  display: grid;
  grid-template-columns: repeat(25,4%);
  grid-template-rows: repeat(25,4%);
  margin-bottom: 130px;
}
.titleName img{
  grid-column: 17;
  grid-row: 3/span 15;
 
}
.titleName div{
  grid-column: 3/span 14;
  grid-row: 4/span 18;
}
.titleName p{
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
  width:70%;
  text-align: justify;
  margin-top: 22px;
}
.titleName #span{
font-weight: bold;
color: black;
}
.containers{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
strong{
  font-size: 18px;
}
#circleProgress{
  width: 170px;
  height: 170px;
  margin:20px;
  text-align: center;
}
.containerProjects {
  margin: 25px;
}
.card{
  width: 400px;
  height: 200px;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1.5%;
}
.imgProjects{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card .hover{
  width:0%;
  height: 200px;
  background-color: rgba(26, 24, 24, 0.795);
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  overflow: hidden;
  /* transition: .9s all; */
}
.hover h2{
  color:aliceblue;
  text-shadow: 1px 1px 1px black;
  font-size: 25px;
  text-transform: uppercase;
}
.card:hover .hover{
  width: 100%;
  
}
.hover p{
  color:aliceblue;
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
  margin-bottom: -15px;
  padding: 0 10px;
}
.hover a{
  font-size: 40px;
  margin: 0 9px;
  color: aliceblue;
}
#contact{
  display: flex;
  
}
.contactDiv1{
  width: 50%;
  padding: 0 1% 0 5%;
  text-align: center;
}
.contactDiv2{
  width: 50%;
  padding: 0 5% 0 1%;
}
.contactDiv1 a{
  font-size: 300%;
  margin-left:5%;
  color: #513d77;
}
.contactDiv1 a:hover{
  color: #a35683;
}
.contactDiv1 p{
  padding: 1% 7%;
  text-align: justify;
}
#btnSend{
  width: 100%;
  padding: 1% 5%;
  background-color: #513d77;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color:white;
  font-weight: bold;
}
#btnSend:hover{
  background-color: #a35683;
  color:black;
}
/* Tamaño tablet (768-480)*/
@media all and (min-width: 480px) and (max-width: 768px) {
  
}

/* Tamaño tablet horizontal (1024-768)*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Tamaño por defecto pantallas (1280-1024)*/
@media all and (min-width: 1024px) and (max-width: 5024px) {
  
}